@import "partials/font/googlefont";

$font-family: $font-family-mitr;

$text-color: #391b43;
$info: #01f562;

$font-weight: 400;
$font-weight-bold: 500;

$margin: 15px;

@import "partials/bootstrap/variables";