@import 'var';
@import 'partials/bootstrap';
@import 'partials/mixins';

body{
    font-family: 'Nunito', 'Prompt', sans-serif;
    color: $text-color;
    word-break: break-all;
}

.btn-round{
    @include button_round(32px);
}

.navbar{
    .navbar-brand{
        padding: 5px 15px;
        img{
            height: 100%;
            width: auto;
        }
    }
    .btn{
        min-width: 120px;
        color: $text-color;
    }
    .navbar-right{
        margin-top: $margin;
    }
}


