@mixin gutter($name, $att){
	@for $i from 1 through 12{
		.#{$name}-#{$i * 5} {
			#{$att}: $i * 5px !important;
		}
	}
}
@mixin circle($size){
	display: inline-block;
	width: $size;
	height: $size;
	border-radius: 50%;
}
@mixin transition ($val){
	-webkit-transition: $val;
       -moz-transition: $val;
        -ms-transition: $val;
            transition: $val;
}

@mixin transform ($val){
	-webkit-transform: $val;
       -moz-transform: $val;
        -ms-transform: $val;
            transform: $val;
}

@mixin text-help($name, $color){
	.text-#{$name} {
		color: $color !important;
	}
}
@mixin triangle-down($size, $color){
	width: $size;
	height: $size;
	border-left: #{$size * 0.7} solid transparent;
	border-right: #{$size * 0.7} solid transparent;
	border-top: #{$size} solid $color;
}
@mixin triangle-up($size, $color){
	width: $size;
	height: $size;
	border-left: #{$size * 0.7} solid transparent;
	border-right: #{$size * 0.7} solid transparent;
	border-bottom: #{$size} solid $color;
}