/* color */
$default: #eee6e3;
$defaultDark : darken($default, 8%);
$defaultLight : lighten($default, 5%);

$primary : #08071b;
$primaryDark : #03030c;
$primaryLight : #1c1b2f;

$danger : #c9302c;
$dangerDark : darken($danger, 8%);
$dangerLight : lighten($danger, 5%);

$info : #00adee;
$infoDark : darken($info, 8%);
$infoLight : lighten($info, 5%);

$success : #5fcf80;
$successDark : darken($success, 8%);
$successLight : lighten($success, 5%);

$textDefault : #252b33;
$textDefaultDark : #111419;
$textDefaultLight : #576366;

$warning : #F89406;
$warningDark : darken($warning, 8%);
$warningLight : lighten($warning, 5%);