@import 'template';
$margin: 15px;
$text: #4d4d4d;


@mixin boxShadow ($boxshadow){
	-webkit-box-shadow : $boxshadow;
	-moz-box-shadow : $boxshadow;
	-o-box-shadow : $boxshadow;
	box-shadow : $boxshadow;
}
@mixin transitionBtn ($tranEffect){
	-webkit-transition : $tranEffect;
	-moz-transition : $tranEffect;
	-o-transition : $tranEffect;
	transition : $tranEffect;
}
.seed-social{
	display: none;
}

#page-content{
	margin: ($margin * 4) 0;
	.container{
		width: 650px;
		@media(max-width: 991px){
			width: 100%;
		}
	}
	.page-header{
		border-bottom: none;
		margin: ($margin * 2) 0 $margin;
	}
	.page-warpper{
		padding: $margin ($margin * 2);
		border-radius: 5px;
	}
}
#contact-form{
	margin-bottom: $margin * 6;
	margin-top: $margin*2;
	.form-group{
		margin-bottom: $margin * 2;
	}
	input[type="text"], input[type="tel"], input[type="email"]{
		background-color: #ddd;
		padding: 14px;
		height: auto;
		font-size: 18px;
		box-shadow: none;
		border: 1px solid #ddd;
		color: $primary;
		width: 100%;
		border-radius: 5px;
		@include transitionBtn(all 0.3s ease);
		&:focus{
			border-color: $info;
			border-radius: 5px;
			@include boxShadow(rgba(0, 0, 0, 0.3) 0 2px 5px 0); 
		}
	}
	textarea{
		background-color: #ddd;
		padding: 14px;
		box-shadow: none;
		font-size: 18px;
		border: 1px solid #ddd;
		color: $primary;
		width: 100%;
		border-radius: 5px;
		@include transitionBtn(all 0.3s ease);
		&:focus{
			border-color: $info;
			border-radius: 5px;
			@include boxShadow(rgba(0, 0, 0, 0.3) 0 2px 5px 0); 
		}
	}
	label{
		color: $primary;
		font-size: 22px;
		margin-bottom: $margin;
		font-family: 'THSupermarket';
	}
	input[type="file"]{
		padding: 8px 15px;
		background-color: #ddd;
		border-radius: 5px;
		border: 1px solid #ddd;
		color: $primary;
		cursor: pointer;
		@media(max-width: 767px){
			padding: 8px;
			width: 100%;
		}
	}
	// .input-file{
	// 	width: 100%;
	// 	input[type="file"]{
	// 		display: none;
	// 		@include transitionBtn(all 0.3s ease);
	// 	}
	// 	label{
	// 		border: 2px dashed;
	// 		border-color: #bbb;
	// 	    display: inline-block;
	// 	    padding: ($margin*3) $margin;
	// 	    cursor: pointer;
	// 	    width: 100%;
	// 	    color: $primary;
	// 	    text-align: center;
	// 	    background-color: #ddd;
	// 	    border-radius: 5px;
	// 	    @include transitionBtn(all 0.3s ease);
	// 	}
	// }
	input[type="submit"]{
		padding: 8px 60px;
		margin-top: $margin;
		@include transitionBtn(all 0.3s ease);
	}
	.btn{
		margin-top: 0px;
	}
}
div.wpcf7-validation-errors{
	padding: 15px;
    border: 1px solid $warning;
    border-radius: 5px;
    color: $warningDark;
}
