/* color */
/* line 18, contact.scss */
.seed-social {
  display: none;
}

/* line 22, contact.scss */
#page-content {
  margin: 60px 0;
}
/* line 24, contact.scss */
#page-content .container {
  width: 650px;
}
@media (max-width: 991px) {
  /* line 24, contact.scss */
  #page-content .container {
    width: 100%;
  }
}
/* line 30, contact.scss */
#page-content .page-header {
  border-bottom: none;
  margin: 30px 0 15px;
}
/* line 34, contact.scss */
#page-content .page-warpper {
  padding: 15px 30px;
  border-radius: 5px;
}

/* line 39, contact.scss */
#contact-form {
  margin-bottom: 90px;
  margin-top: 30px;
}
/* line 42, contact.scss */
#contact-form .form-group {
  margin-bottom: 30px;
}
/* line 45, contact.scss */
#contact-form input[type="text"], #contact-form input[type="tel"], #contact-form input[type="email"] {
  background-color: #ddd;
  padding: 14px;
  height: auto;
  font-size: 18px;
  box-shadow: none;
  border: 1px solid #ddd;
  color: #08071b;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 56, contact.scss */
#contact-form input[type="text"]:focus, #contact-form input[type="tel"]:focus, #contact-form input[type="email"]:focus {
  border-color: #00adee;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}
/* line 62, contact.scss */
#contact-form textarea {
  background-color: #ddd;
  padding: 14px;
  box-shadow: none;
  font-size: 18px;
  border: 1px solid #ddd;
  color: #08071b;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 72, contact.scss */
#contact-form textarea:focus {
  border-color: #00adee;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}
/* line 78, contact.scss */
#contact-form label {
  color: #08071b;
  font-size: 22px;
  margin-bottom: 15px;
  font-family: 'THSupermarket';
}
/* line 84, contact.scss */
#contact-form input[type="file"] {
  padding: 8px 15px;
  background-color: #ddd;
  border-radius: 5px;
  border: 1px solid #ddd;
  color: #08071b;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 84, contact.scss */
  #contact-form input[type="file"] {
    padding: 8px;
    width: 100%;
  }
}
/* line 116, contact.scss */
#contact-form input[type="submit"] {
  padding: 8px 60px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 121, contact.scss */
#contact-form .btn {
  margin-top: 0px;
}

/* line 125, contact.scss */
div.wpcf7-validation-errors {
  padding: 15px;
  border: 1px solid #f89406;
  border-radius: 5px;
  color: #d07c05;
}
