/* color */
/* material btn */
/* line 25, material-btn.scss */
.btn-animate {
  position: relative;
  overflow: hidden;
  z-index: 0;
  color: white;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}
/* line 32, material-btn.scss */
.btn-animate:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 10px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 10px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 5px 10px 2px;
  z-index: 1000;
}
/* line 36, material-btn.scss */
.btn-animate:active, .btn-animate:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 42, material-btn.scss */
.activeBtn {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/* line 52, material-btn.scss */
.animateBtn {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  /* line 61, material-btn.scss */
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}

@-moz-keyframes ripple {
  /* line 64, material-btn.scss */
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}

@-o-keyframes ripple {
  /* line 67, material-btn.scss */
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}

@keyframes ripple {
  /* line 70, material-btn.scss */
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
