
@import 'template';

/* material btn */


@mixin boxShadow ($boxshadow){
	-webkit-box-shadow : $boxshadow;
	-moz-box-shadow : $boxshadow;
	-o-box-shadow : $boxshadow;
	box-shadow : $boxshadow;
}
@mixin btnAnimate ($animate){
	-webkit-animation:$animate;
   	-moz-animation:$animate;
    -o-animation:$animate;
    animation:$animate;
}
@mixin transformBtn ($transfEffect){
	-webkit-transform : $transfEffect;
	-moz-transform : $transfEffect;
	-o-transform : $transfEffect;
	transform : $transfEffect;
}
.btn-animate{
	position:relative;
	overflow:hidden;
	z-index:0;
	color: white;
	overflow: hidden; 
	@include boxShadow(rgba(0, 0, 0, 0.3) 0 2px 5px 0); 		
	&:hover{
		@include boxShadow(rgba(0, 0, 0, 0.3) 2px 5px 10px 2px);
		z-index:1000;
	}
	&:active, &:focus{
		@include boxShadow(none);
	}
	
}

.activeBtn{
	display: block;
	position: absolute;
	background:rgba(255, 255, 255, 0.3);
	border-radius: 100%;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}
.animateBtn{
	-webkit-animation:ripple 0.65s linear;
	-moz-animation:ripple 0.65s linear;
	-ms-animation:ripple 0.65s linear;
	-o-animation:ripple 0.65s linear;
	animation:ripple 0.65s linear;
}

@-webkit-keyframes ripple {
    100% {opacity: 0; -webkit-transform: scale(2.5);}
}
@-moz-keyframes ripple {
    100% {opacity: 0; -moz-transform: scale(2.5);}
}
@-o-keyframes ripple {
    100% {opacity: 0; -o-transform: scale(2.5);}
}
@keyframes ripple {
    100% {opacity: 0; transform: scale(2.5);}
}