/*
Theme Name: featurestd
Theme URI: feature-std.com
Author: BlackpearlJR Ae
Author URI: feature-std.com
Description: for feature studio 
Version: 1.0
Text Domain: featurestd
*/
/* color */
/* line 30, single.scss */
body {
  background: whitesmoke;
  color: #4d4d4d;
}

/* line 34, single.scss */
h1, h2, h3, h4 {
  color: #08071b;
}

@media (min-width: 1200px) {
  /* line 38, single.scss */
  .container {
    width: 970px;
  }
}
@media (max-width: 767px) {
  /* line 44, single.scss */
  .content-warpper {
    margin-top: 15px;
    padding: 30px 15px;
  }
}
/* line 49, single.scss */
.content-warpper img {
  width: auto;
  max-width: 100%;
  display: block;
  margin: 30px auto;
}
@media (max-width: 767px) {
  /* line 49, single.scss */
  .content-warpper img {
    width: 100%;
    height: auto;
  }
}
/* line 59, single.scss */
.content-warpper .content-header {
  border-bottom: none;
  background-color: #eeeeee;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  /* line 59, single.scss */
  .content-warpper .content-header {
    width: 100%;
  }
}
/* line 66, single.scss */
.content-warpper .content-header h2 {
  margin: 22.5px 0;
  font-size: 32px;
}
/* line 73, single.scss */
.content-warpper .content-shared {
  margin: 15px 0;
}
/* line 76, single.scss */
.content-warpper .content-detail {
  padding: 30px;
}
@media (max-width: 767px) {
  /* line 76, single.scss */
  .content-warpper .content-detail {
    padding: 0px;
  }
}

/* line 85, single.scss */
#contact {
  color: #eee6e3;
}
/* line 87, single.scss */
#contact h1, #contact h2, #contact h3, #contact h4, #contact p {
  color: #eee6e3;
}

/* line 92, single.scss */
.recent-warpper {
  padding-bottom: 30px;
  background-color: #eee;
}
@media (max-width: 991px) {
  /* line 92, single.scss */
  .recent-warpper {
    margin-top: 60px;
  }
}
@media (max-width: 767px) {
  /* line 92, single.scss */
  .recent-warpper {
    margin-top: 15px;
    padding: 30px 5px;
  }
}
/* line 102, single.scss */
.recent-warpper img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}
@media (max-width: 767px) {
  /* line 102, single.scss */
  .recent-warpper img {
    width: 100%;
    height: auto;
  }
}
/* line 111, single.scss */
.recent-warpper .page-header {
  margin: 20px 0 15px 0;
}
/* line 115, single.scss */
.recent-warpper .list-group .list-group-item {
  background-color: transparent;
  margin-bottom: 15px;
  border: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 120, single.scss */
.recent-warpper .list-group .list-group-item img {
  margin-bottom: 8px;
  width: 100%;
  height: auto;
}
/* line 125, single.scss */
.recent-warpper .list-group .list-group-item span {
  font-weight: bold;
}
/* line 128, single.scss */
.recent-warpper .list-group .list-group-item:hover {
  background-color: #eee;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}
