/*
Theme Name: featurestd
Theme URI: feature-std.com
Author: BlackpearlJR Ae
Author URI: feature-std.com
Description: for feature studio 
Version: 1.0
Text Domain: featurestd
*/

@import 'template';
$margin: 15px;
$text: #4d4d4d;
$background: #f5f5f5;
$titleBg: #eee;

@mixin boxShadow ($boxshadow){
	-webkit-box-shadow : $boxshadow;
	-moz-box-shadow : $boxshadow;
	-o-box-shadow : $boxshadow;
	box-shadow : $boxshadow;
}
@mixin transitionBtn ($tranEffect){
	-webkit-transition : $tranEffect;
	-moz-transition : $tranEffect;
	-o-transition : $tranEffect;
	transition : $tranEffect;
}

body{
	background: $background;
	color: $text;
}
h1,h2,h3,h4{
	color: $primary;
}
@media(min-width: 1200px){
	.container{
		width: 970px;
	}
}
#single-content{
}
.content-warpper{
	@media(max-width: 767px){
		margin-top: $margin;
		padding: ($margin * 2) $margin;
	}
	img{
		width: auto;
		max-width: 100%;
		display: block;
		margin: ($margin *2) auto;
		@media(max-width: 767px){
			width: 100%;
			height: auto;
		}
	}
	.content-header{
		border-bottom: none;
		background-color: $titleBg;
		border-bottom: 1px solid #ddd;
		@media(max-width: 767px){
			width: 100%;
		}
		h2{
			// border-left: 6px solid $primary;
			// padding-left: $margin * 2;
			margin: ($margin * 1.5) 0;
			font-size: 32px;
		}
	}
	.content-shared{
		margin: $margin 0;
	}
	.content-detail{
		padding: $margin*2;
		@media(max-width: 767px){
			padding: 0px;
		}
		// @include boxShadow (rgba(0, 0, 0, 0.3) 0 2px 5px 0);
	}
}

#contact{
	color: $default;
	h1,h2,h3,h4,p{
		color: $default;
	}
}

.recent-warpper{
	padding-bottom: $margin * 2;
	background-color: #eee;
	@media(max-width: 991px){
		margin-top: $margin * 4;
	}
	@media(max-width: 767px){
		margin-top: $margin;
		padding: ($margin * 2) 5px;
	}
	img{
		width: 100%;
		height: auto;
		margin-top: 0px;
		@media(max-width: 767px){
			width: 100%;
			height: auto;
		}
	}
	.page-header{
		margin: 20px 0 15px 0;
	}
	.list-group{
		.list-group-item{
			background-color: transparent;
			margin-bottom: $margin;
			border: none;
			@include transitionBtn(all 0.3s ease);
			img{
				margin-bottom: 8px;
				width: 100%;
				height: auto;
			}
			span{
				font-weight: bold;
			}
			&:hover{
				background-color: #eee;
				@include boxShadow(rgba(0, 0, 0, 0.3) 0 2px 5px 0); 
			}
		}
	}
}
