/*
Theme Name: featurestd
Theme URI: feature-std.com
Author: BlackpearlJR Ae
Author URI: feature-std.com
Description: for feature studio 
Version: 1.0
Text Domain: featurestd
*/

@import 'template';
$margin: 15px;

@import url(webfont.css);

@mixin boxShadow ($boxshadow){
	-webkit-box-shadow : $boxshadow;
	-moz-box-shadow : $boxshadow;
	-o-box-shadow : $boxshadow;
	box-shadow : $boxshadow;
}
@mixin transitionBtn ($tranEffect){
	-webkit-transition : $tranEffect;
	-moz-transition : $tranEffect;
	-o-transition : $tranEffect;
	transition : $tranEffect;
}
@mixin Circle ($scale){
	width: $scale;
	height: $scale;
	border-radius: 50%;
	text-align: center;
}
body{
	background-color : $default;
	color: $textDefault;
	@media(min-width: 1600px){
		font-size: 16px;
	}
}
h1, h2, h3, h4, .title, a{
	font-family: 'THSupermarket';
}
a{
	font-size: 20px;
}
p.title{
	font-size: 16px;
	@media(min-width: 1600px){
		font-size: 20px;
	}
}
h1.content-title,
h2.content-title,
h3.content-title,
h4.content-title{
	border-left: 5px solid;
	padding-left: $margin;
	color: $textDefaultDark;
	&.danger{
		border-left-color: $danger;
	}
	&.primary{
		border-left-color: $primary;
	}
	&.info{
		border-left-color: $info;
	}
	&.success{
		border-left-color: $success;
	}
}
.brand-logo{
	height: 62px;
}
img{
	width: 100%;
}
.btn{
	margin-top: 30px;
	@media(max-width: 767px){
		font-size: 18px;
	}
}
img.content-title{
	height: 62px;
	width: auto;
	margin: auto;
	margin-bottom: $margin * 4;
	display: block;
	@media(max-width: 991px){
		height: 52px;
		width: auto;
	}
	@media(max-width: 767px){
		width: 100%;
		height: auto;
		margin-top: 0px;
	}
}
.content{
	padding: ($margin * 4) 0;
	@media(max-width: 767px){
		padding: ($margin * 3) 0;
	}
}
.page{
	background-color: transparent ;
}
#mainnav{
	@media(min-width: 1600px){
	padding: 0 $margin;
	}
	@media(max-width: 767px){
		#navbar-collapse{
			// background-color: $primaryLight;
			ul{
				margin-top: 10px;
				padding: 0 ($margin*2) $margin ($margin * 2);
				text-align: center;
			}
		}
	}
	margin-top: $margin;
	.navbar-index{
		font-family: 'THSupermarket';
		font-size: 16px;
		@media(min-width: 1600px){
			font-size: 20px;
		}
		a:not(.btn){
			color: #dddddd;
			@media(min-width: 1600px){
				margin-right: $margin;
			}
			&:hover{
				color: #f5f5f5;
				background-color: transparent;
			}
			&:active, &:focus{
				background-color: transparent;
			}
		}
	}
	.navbar-nav{
		padding: 0 $margin;
		margin-top: $margin / 2;
		li{
			a{
				padding-top: 8px;
				padding-bottom: 8px;
				border-radius: 5px;
				@include transitionBtn(all 0.3s ease);
				&:not(.btn){
					border-bottom: 3px solid;
					border-bottom-color: transparent;
					color: #fff;
					&:hover{
						color: $dangerLight;
					}
					&.active, &:focus, &:active{
						color: white;
						&:hover{
							color: $dangerLight;
						}
					}
				}
				@media(min-width: 1600px){
					padding-top: 12px;
					padding-bottom: 12px;
				}
				
			}
			.btn{
				margin-top: 0px;
			}

		}
	}
	&.bg{
		background-color: rgba(16, 12, 29, 1.0);
		color: $default;
		@include boxShadow(rgba(14,13,39,0.3) 0 1px 2px 0);
		.navbar{
			margin: 5px 0;
		}
	}
	&.bg-collapse{
		background-color: rgba(16, 12, 29, 1.0);
		color: $default;
	}
	.navbar-brand{
		padding: 0 15px;
		img{
			width: auto;
			height: 100%;
		}
	}
	&.allpage{
		background-color: #0e0d27;
    	margin-top: 0px;
    	border-bottom: 1px solid #2b2861;
		.navbar{
			margin: 0px;
			padding: 5px 0;
		}
		a:not(.btn){
			color: #dddddd;
			@media(min-width: 1600px){
				margin-right: $margin;
			}
			&:hover{
				color: #f5f5f5;
				background-color: transparent;
			}
			&:active, &:focus{
				background-color: transparent;
			}
		}
	}
	// &.allpage{
	// 	margin-top: 0px;
	// 	padding-top: 10px;
	// 	background-color: $primary;
	// 	border-bottom: 3px solid #bec3db;
	// 	text-align: center;
	// 	@include boxShadow (0px 0px 1px 1px rgba(0, 0, 0, 0.14));
	// 	.navbar-header{

	// 		.navbar-brand{

	// 			img{

	// 			}
	// 		}
	// 	}
	// 	.navbar{
	// 		margin-bottom: 10px;
	// 		.navbar-nav{
	// 			margin-top: 5px;
	// 			li{
	// 				margin-right: $margin;
	// 				a:not(.btn){
	// 					color: $default;
	// 					border-radius: 5px;
	// 					padding-bottom: 8px;
	// 					&:hover{
	// 						background-color: #bec3db;
	// 						color: $primary;
	// 					}
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

#hero-header{
	background-image: url(../images/hbg.png);
	background-color: #0d0c1f;
	color: $default;
	text-align: center;
	padding-bottom: $margin * 4;
	.logo{
		width: 550px;
		margin: auto;
		display: block;
		@media(max-width: 991px){
			width: 100%;
			height: auto;
		}
		@media(max-width: 767px){
			width: 100%;
			height: auto;
		}
	}
	.hero-header-caption{
		margin-top: $margin * 6;
		margin-right: $margin * 12;
		margin-left: $margin * 12;
		@media(max-width: 767px){
			margin-top: $margin * 4;
			margin-right: $margin * 0.5;
			margin-left: $margin * 0.5;
		}
	}
	p.title{
		margin-top: $margin * 2;
		font-size: 20px;
	}
}

#web-design{
	background-color: #dfcec6;
	img{
		@media(max-width: 767px){
			width: 100%;
			height: auto;
		}
	}
}
#graphic-design{
	background-color: #bba498;
	img{
		height: 100%;
		width: auto;
		display: block;
		margin: auto;
		@media(max-width: 767px){
			width: 50%;
			height: auto;
			margin-top: $margin;
		}
	}
}

#howtowork{
	&.howtowork{
		background-color: transparent;
	}
	.thumbnail{
		background-color: transparent;
		border: none;
		padding: $margin;
		text-align: center;
		.thumbnail-icon{
			width: 100%;
			display: block;
			padding: $margin * 1.5;
		}
		.caption{
			h3{
				color: $danger;
			}
		}
		@media(max-width: 991px){
			padding: 4px;
		}
		@media(max-width: 767px){
			padding: ($margin) ($margin * 3);
			.thumbnail-icon{
				width: 75%;
				margin: auto;
			}
		}
	}
}

#portfolio{
	background-color:$defaultDark;
	&.portfolio{
		background-color: transparent;
	}
	a.thumbnail{
		background-color: whitesmoke;
		padding: 1px;
		@include boxShadow(rgba(0, 0, 0, 0.3) 0 2px 5px 0); 
		@include transitionBtn(all 0.3s ease);
		padding: $margin;
		.flipper{
			width: 100%;
			height: 100%;
			.thumbnail-img{				
				img{
					@include transitionBtn(all 0.5s ease);
	
					
				}
			}
			.caption{
				text-align: center;
			}
		}

		&:hover{
			text-decoration: none;
			border: 1px solid $defaultDark;
			background-color: #fafafa;
			// @include boxShadow(rgba(0, 0, 0, 0.3) 2px 5px 10px 2px);
			.flipper{
		  		.thumbnail-img{
		  			
					img{
						// transform: scale(1.05, 1.05);

					}
				}
				.caption{
					text-decoration: none;
				}
		  	}

			
		}
		&:active, &:focus{
			@include boxShadow(none);
		}
	}

	.flip_container {
		position: relative;
		margin: 10px auto;
		width: 100%;
		height: 250px;
		z-index: 1;
		@media(max-width: 767px){
			height: 205px;
		}
	}
	.flip_container {
		perspective: 1000;
	}
	.flipper {
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: all 0.6s linear;
	}
	.flip_container:hover .flipper {
		transform: rotateY(180deg);
	}
	.face {
		position: absolute;
		width: 100%;
		height: 100%;
		backface-visibility: hidden;
		&.front{
			width: 100%;
			height: auto;
			img{
				width: 100%;
				height: auto;
			}
		}
		&.back {
			display: block;
			transform: rotateY(180deg);
			box-sizing: border-box;
			padding: 10px;
			color: white;
			text-align: center;
			background-color: $textDefault;
			height: 216px;
			@media(max-width: 767px){
				height: 160px;
			}
		}
	}
}

$thumbnailW : 250px;

#ourteam{
	.thumbnail{
		background-color: transparent;
		border: none;
		text-align: center;
		.thumbnail-img{
			margin: auto;
			padding: $margin;
			background: $defaultLight;
			@include Circle ($thumbnailW);
			@include boxShadow(rgba(0, 0, 0, 0.3) 0 2px 5px 0); 
			img{
				margin: auto;
				display: block;
				margin: auto;
				@include Circle ($thumbnailW - ($margin * 2));
				padding: $margin;
				border: 2px dashed $defaultDark;
			}
			@media(max-width: 767px){
				@include Circle ($thumbnailW - 100);
				img{
					@include Circle (($thumbnailW - 100) - ($margin * 2));
					padding: $margin;
				}
			}
		}
	}
}

@mixin socialHover ($socialColor){
	background-color: $socialColor;
	border-color: $socialColor;
	color: white;
}
#contact{
	padding: ($margin * 2) 0;
	background-color: $primary;
	color: $default;
	img{
		height: 300px;
		width: auto;
		float: left;
		@media(max-width: 767px){
			height: auto;
			width: 100%;
			float: none;
		}
	}
	.contact-group{
		text-align: right;
		padding-top: $margin * 2;
		padding-right: $margin;
		@media(max-width: 767px){
			padding-top: $margin;
		}
	}
	form{
		padding: 0 ($margin*2);
		input,textarea{
			padding: 8px 12px;
			width: 100%;
			background-color: $primaryLight;
			color: white;
			border: none;
		}
		input[type='submit']{
			width: 250px;
			background-color: $info;
			color: white;
			padding: $margin;
			display: block;
			margin: auto;
			border: none;
			border-radius: 5px;
		}
	}
	.social-title{
		vertical-align: middle;
		font-size: 22px;

	}
	.btn{
		display: block;
		width: 250px;
		margin-bottom: $margin;
		float: right;
		margin-top: $margin;
	}
	.social{
		display: inline-block;
		padding-left: 0px;
		li{
			display: inline-block;
			list-style: none;
			vertical-align: middle;
			a{
				@include transitionBtn(all 0.3s ease);
				margin-right: 10px;
				vertical-align: middle;
				i{
					@media(min-width: 1600px){
						@include Circle (52px);
						font-size: 28px;
						line-height: 52px;
						&.fa-line{
							font-family: 'THSupermarket';
							font-size: 22px;
						}
					}
					@include Circle (36px);
					display: inline-block;
					border: 1px solid $default;
					font-size: 16px;
					color: $default;
					line-height: 36px;
					@include transitionBtn(all 0.3s ease);
					&.fa-line{
						font-family: 'THSupermarket';
						font-size: 16px;
					}
				}
				&:hover{
					.fa-facebook{
						@include socialHover (#3b5998);
					}
					.fa-line{
						@include socialHover ($success);
					}
					.fa-youtube{
						@include socialHover ($danger);
					}
					.fa-envelope-o{
						@include socialHover ($warning);
					}
				}
			}
			&.social-title{
				margin-right: $margin;
			}
		}
		@media(max-width: 767px){
			padding-left: 0px;
			li{
				a{
					i{
						@include Circle (38px);
						line-height: 38px;
						font-size: 18px;
						&.fa-line{
							font-size: 16px;
						}
					}
				}
				&.title{
					font-size: 14px;
				}
			}
		}
	}
}
#footer{
	padding: $margin 0;
	background-color: $primaryDark;
	color: $default;
	font-size: 14px;
	.contact{
		padding-bottom: $margin * 1.5;
		border-bottom: 1px solid $default;
		margin-bottom: $margin;
	}
	
}