@import url(webfont.css);
/*
Theme Name: featurestd
Theme URI: feature-std.com
Author: BlackpearlJR Ae
Author URI: feature-std.com
Description: for feature studio 
Version: 1.0
Text Domain: featurestd
*/
/* color */
/* line 34, style.scss */
body {
  background-color: #eee6e3;
  color: #252b33;
}
@media (min-width: 1600px) {
  /* line 34, style.scss */
  body {
    font-size: 16px;
  }
}

/* line 41, style.scss */
h1, h2, h3, h4, .title, a {
  font-family: 'THSupermarket';
}

/* line 44, style.scss */
a {
  font-size: 20px;
}

/* line 47, style.scss */
p.title {
  font-size: 16px;
}
@media (min-width: 1600px) {
  /* line 47, style.scss */
  p.title {
    font-size: 20px;
  }
}

/* line 56, style.scss */
h1.content-title,
h2.content-title,
h3.content-title,
h4.content-title {
  border-left: 5px solid;
  padding-left: 15px;
  color: #111419;
}
/* line 60, style.scss */
h1.content-title.danger,
h2.content-title.danger,
h3.content-title.danger,
h4.content-title.danger {
  border-left-color: #c9302c;
}
/* line 63, style.scss */
h1.content-title.primary,
h2.content-title.primary,
h3.content-title.primary,
h4.content-title.primary {
  border-left-color: #08071b;
}
/* line 66, style.scss */
h1.content-title.info,
h2.content-title.info,
h3.content-title.info,
h4.content-title.info {
  border-left-color: #00adee;
}
/* line 69, style.scss */
h1.content-title.success,
h2.content-title.success,
h3.content-title.success,
h4.content-title.success {
  border-left-color: #5fcf80;
}

/* line 73, style.scss */
.brand-logo {
  height: 62px;
}

/* line 76, style.scss */
img {
  width: 100%;
}

/* line 79, style.scss */
.btn {
  margin-top: 30px;
}
@media (max-width: 767px) {
  /* line 79, style.scss */
  .btn {
    font-size: 18px;
  }
}

/* line 85, style.scss */
img.content-title {
  height: 62px;
  width: auto;
  margin: auto;
  margin-bottom: 60px;
  display: block;
}
@media (max-width: 991px) {
  /* line 85, style.scss */
  img.content-title {
    height: 52px;
    width: auto;
  }
}
@media (max-width: 767px) {
  /* line 85, style.scss */
  img.content-title {
    width: 100%;
    height: auto;
    margin-top: 0px;
  }
}

/* line 101, style.scss */
.content {
  padding: 60px 0;
}
@media (max-width: 767px) {
  /* line 101, style.scss */
  .content {
    padding: 45px 0;
  }
}

/* line 107, style.scss */
.page {
  background-color: transparent;
}

/* line 110, style.scss */
#mainnav {
  margin-top: 15px;
}
@media (min-width: 1600px) {
  /* line 110, style.scss */
  #mainnav {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  /* line 117, style.scss */
  #mainnav #navbar-collapse ul {
    margin-top: 10px;
    padding: 0 30px 15px 30px;
    text-align: center;
  }
}
/* line 125, style.scss */
#mainnav .navbar-index {
  font-family: 'THSupermarket';
  font-size: 16px;
}
@media (min-width: 1600px) {
  /* line 125, style.scss */
  #mainnav .navbar-index {
    font-size: 20px;
  }
}
/* line 131, style.scss */
#mainnav .navbar-index a:not(.btn) {
  color: #dddddd;
}
@media (min-width: 1600px) {
  /* line 131, style.scss */
  #mainnav .navbar-index a:not(.btn) {
    margin-right: 15px;
  }
}
/* line 136, style.scss */
#mainnav .navbar-index a:not(.btn):hover {
  color: #f5f5f5;
  background-color: transparent;
}
/* line 140, style.scss */
#mainnav .navbar-index a:not(.btn):active, #mainnav .navbar-index a:not(.btn):focus {
  background-color: transparent;
}
/* line 145, style.scss */
#mainnav .navbar-nav {
  padding: 0 15px;
  margin-top: 7.5px;
}
/* line 149, style.scss */
#mainnav .navbar-nav li a {
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 154, style.scss */
#mainnav .navbar-nav li a:not(.btn) {
  border-bottom: 3px solid;
  border-bottom-color: transparent;
  color: #fff;
}
/* line 158, style.scss */
#mainnav .navbar-nav li a:not(.btn):hover {
  color: #d43e3b;
}
/* line 161, style.scss */
#mainnav .navbar-nav li a:not(.btn).active, #mainnav .navbar-nav li a:not(.btn):focus, #mainnav .navbar-nav li a:not(.btn):active {
  color: white;
}
/* line 163, style.scss */
#mainnav .navbar-nav li a:not(.btn).active:hover, #mainnav .navbar-nav li a:not(.btn):focus:hover, #mainnav .navbar-nav li a:not(.btn):active:hover {
  color: #d43e3b;
}
@media (min-width: 1600px) {
  /* line 149, style.scss */
  #mainnav .navbar-nav li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
/* line 174, style.scss */
#mainnav .navbar-nav li .btn {
  margin-top: 0px;
}
/* line 180, style.scss */
#mainnav.bg {
  background-color: #100c1d;
  color: #eee6e3;
  -webkit-box-shadow: rgba(14, 13, 39, 0.3) 0 1px 2px 0;
  -moz-box-shadow: rgba(14, 13, 39, 0.3) 0 1px 2px 0;
  -o-box-shadow: rgba(14, 13, 39, 0.3) 0 1px 2px 0;
  box-shadow: rgba(14, 13, 39, 0.3) 0 1px 2px 0;
}
/* line 184, style.scss */
#mainnav.bg .navbar {
  margin: 5px 0;
}
/* line 188, style.scss */
#mainnav.bg-collapse {
  background-color: #100c1d;
  color: #eee6e3;
}
/* line 192, style.scss */
#mainnav .navbar-brand {
  padding: 0 15px;
}
/* line 194, style.scss */
#mainnav .navbar-brand img {
  width: auto;
  height: 100%;
}
/* line 199, style.scss */
#mainnav.allpage {
  background-color: #0e0d27;
  margin-top: 0px;
  border-bottom: 1px solid #2b2861;
}
/* line 203, style.scss */
#mainnav.allpage .navbar {
  margin: 0px;
  padding: 5px 0;
}
/* line 207, style.scss */
#mainnav.allpage a:not(.btn) {
  color: #dddddd;
}
@media (min-width: 1600px) {
  /* line 207, style.scss */
  #mainnav.allpage a:not(.btn) {
    margin-right: 15px;
  }
}
/* line 212, style.scss */
#mainnav.allpage a:not(.btn):hover {
  color: #f5f5f5;
  background-color: transparent;
}
/* line 216, style.scss */
#mainnav.allpage a:not(.btn):active, #mainnav.allpage a:not(.btn):focus {
  background-color: transparent;
}

/* line 258, style.scss */
#hero-header {
  background-image: url(../images/hbg.png);
  background-color: #0d0c1f;
  color: #eee6e3;
  text-align: center;
  padding-bottom: 60px;
}
/* line 264, style.scss */
#hero-header .logo {
  width: 550px;
  margin: auto;
  display: block;
}
@media (max-width: 991px) {
  /* line 264, style.scss */
  #hero-header .logo {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 767px) {
  /* line 264, style.scss */
  #hero-header .logo {
    width: 100%;
    height: auto;
  }
}
/* line 277, style.scss */
#hero-header .hero-header-caption {
  margin-top: 90px;
  margin-right: 180px;
  margin-left: 180px;
}
@media (max-width: 767px) {
  /* line 277, style.scss */
  #hero-header .hero-header-caption {
    margin-top: 60px;
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
}
/* line 287, style.scss */
#hero-header p.title {
  margin-top: 30px;
  font-size: 20px;
}

/* line 293, style.scss */
#web-design {
  background-color: #dfcec6;
}
@media (max-width: 767px) {
  /* line 295, style.scss */
  #web-design img {
    width: 100%;
    height: auto;
  }
}

/* line 302, style.scss */
#graphic-design {
  background-color: #bba498;
}
/* line 304, style.scss */
#graphic-design img {
  height: 100%;
  width: auto;
  display: block;
  margin: auto;
}
@media (max-width: 767px) {
  /* line 304, style.scss */
  #graphic-design img {
    width: 50%;
    height: auto;
    margin-top: 15px;
  }
}

/* line 318, style.scss */
#howtowork.howtowork {
  background-color: transparent;
}
/* line 321, style.scss */
#howtowork .thumbnail {
  background-color: transparent;
  border: none;
  padding: 15px;
  text-align: center;
}
/* line 326, style.scss */
#howtowork .thumbnail .thumbnail-icon {
  width: 100%;
  display: block;
  padding: 22.5px;
}
/* line 332, style.scss */
#howtowork .thumbnail .caption h3 {
  color: #c9302c;
}
@media (max-width: 991px) {
  /* line 321, style.scss */
  #howtowork .thumbnail {
    padding: 4px;
  }
}
@media (max-width: 767px) {
  /* line 321, style.scss */
  #howtowork .thumbnail {
    padding: 15px 45px;
  }
  /* line 341, style.scss */
  #howtowork .thumbnail .thumbnail-icon {
    width: 75%;
    margin: auto;
  }
}

/* line 349, style.scss */
#portfolio {
  background-color: #dfcfca;
}
/* line 351, style.scss */
#portfolio.portfolio {
  background-color: transparent;
}
/* line 354, style.scss */
#portfolio a.thumbnail {
  background-color: whitesmoke;
  padding: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 15px;
}
/* line 360, style.scss */
#portfolio a.thumbnail .flipper {
  width: 100%;
  height: 100%;
}
/* line 364, style.scss */
#portfolio a.thumbnail .flipper .thumbnail-img img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
/* line 370, style.scss */
#portfolio a.thumbnail .flipper .caption {
  text-align: center;
}
/* line 375, style.scss */
#portfolio a.thumbnail:hover {
  text-decoration: none;
  border: 1px solid #dfcfca;
  background-color: #fafafa;
}
/* line 388, style.scss */
#portfolio a.thumbnail:hover .flipper .caption {
  text-decoration: none;
}
/* line 395, style.scss */
#portfolio a.thumbnail:active, #portfolio a.thumbnail:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 400, style.scss */
#portfolio .flip_container {
  position: relative;
  margin: 10px auto;
  width: 100%;
  height: 250px;
  z-index: 1;
}
@media (max-width: 767px) {
  /* line 400, style.scss */
  #portfolio .flip_container {
    height: 205px;
  }
}
/* line 410, style.scss */
#portfolio .flip_container {
  perspective: 1000;
}
/* line 413, style.scss */
#portfolio .flipper {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.6s linear;
}
/* line 419, style.scss */
#portfolio .flip_container:hover .flipper {
  transform: rotateY(180deg);
}
/* line 422, style.scss */
#portfolio .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
/* line 427, style.scss */
#portfolio .face.front {
  width: 100%;
  height: auto;
}
/* line 430, style.scss */
#portfolio .face.front img {
  width: 100%;
  height: auto;
}
/* line 435, style.scss */
#portfolio .face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #252b33;
  height: 216px;
}
@media (max-width: 767px) {
  /* line 435, style.scss */
  #portfolio .face.back {
    height: 160px;
  }
}

/* line 454, style.scss */
#ourteam .thumbnail {
  background-color: transparent;
  border: none;
  text-align: center;
}
/* line 458, style.scss */
#ourteam .thumbnail .thumbnail-img {
  margin: auto;
  padding: 15px;
  background: #f8f4f3;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 5px 0;
}
/* line 464, style.scss */
#ourteam .thumbnail .thumbnail-img img {
  margin: auto;
  display: block;
  margin: auto;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  text-align: center;
  padding: 15px;
  border: 2px dashed #dfcfca;
}
@media (max-width: 767px) {
  /* line 458, style.scss */
  #ourteam .thumbnail .thumbnail-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
  }
  /* line 474, style.scss */
  #ourteam .thumbnail .thumbnail-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    padding: 15px;
  }
}

/* line 488, style.scss */
#contact {
  padding: 30px 0;
  background-color: #08071b;
  color: #eee6e3;
}
/* line 492, style.scss */
#contact img {
  height: 300px;
  width: auto;
  float: left;
}
@media (max-width: 767px) {
  /* line 492, style.scss */
  #contact img {
    height: auto;
    width: 100%;
    float: none;
  }
}
/* line 502, style.scss */
#contact .contact-group {
  text-align: right;
  padding-top: 30px;
  padding-right: 15px;
}
@media (max-width: 767px) {
  /* line 502, style.scss */
  #contact .contact-group {
    padding-top: 15px;
  }
}
/* line 510, style.scss */
#contact form {
  padding: 0 30px;
}
/* line 512, style.scss */
#contact form input, #contact form textarea {
  padding: 8px 12px;
  width: 100%;
  background-color: #1c1b2f;
  color: white;
  border: none;
}
/* line 519, style.scss */
#contact form input[type='submit'] {
  width: 250px;
  background-color: #00adee;
  color: white;
  padding: 15px;
  display: block;
  margin: auto;
  border: none;
  border-radius: 5px;
}
/* line 530, style.scss */
#contact .social-title {
  vertical-align: middle;
  font-size: 22px;
}
/* line 535, style.scss */
#contact .btn {
  display: block;
  width: 250px;
  margin-bottom: 15px;
  float: right;
  margin-top: 15px;
}
/* line 542, style.scss */
#contact .social {
  display: inline-block;
  padding-left: 0px;
}
/* line 545, style.scss */
#contact .social li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}
/* line 549, style.scss */
#contact .social li a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-right: 10px;
  vertical-align: middle;
}
/* line 553, style.scss */
#contact .social li a i {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  border: 1px solid #eee6e3;
  font-size: 16px;
  color: #eee6e3;
  line-height: 36px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (min-width: 1600px) {
  /* line 553, style.scss */
  #contact .social li a i {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    line-height: 52px;
  }
  /* line 558, style.scss */
  #contact .social li a i.fa-line {
    font-family: 'THSupermarket';
    font-size: 22px;
  }
}
/* line 570, style.scss */
#contact .social li a i.fa-line {
  font-family: 'THSupermarket';
  font-size: 16px;
}
/* line 576, style.scss */
#contact .social li a:hover .fa-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
  color: white;
}
/* line 579, style.scss */
#contact .social li a:hover .fa-line {
  background-color: #5fcf80;
  border-color: #5fcf80;
  color: white;
}
/* line 582, style.scss */
#contact .social li a:hover .fa-youtube {
  background-color: #c9302c;
  border-color: #c9302c;
  color: white;
}
/* line 585, style.scss */
#contact .social li a:hover .fa-envelope-o {
  background-color: #f89406;
  border-color: #f89406;
  color: white;
}
/* line 590, style.scss */
#contact .social li.social-title {
  margin-right: 15px;
}
@media (max-width: 767px) {
  /* line 542, style.scss */
  #contact .social {
    padding-left: 0px;
  }
  /* line 598, style.scss */
  #contact .social li a i {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    font-size: 18px;
  }
  /* line 602, style.scss */
  #contact .social li a i.fa-line {
    font-size: 16px;
  }
  /* line 607, style.scss */
  #contact .social li.title {
    font-size: 14px;
  }
}

/* line 614, style.scss */
#footer {
  padding: 15px 0;
  background-color: #03030c;
  color: #eee6e3;
  font-size: 14px;
}
/* line 619, style.scss */
#footer .contact {
  padding-bottom: 22.5px;
  border-bottom: 1px solid #eee6e3;
  margin-bottom: 15px;
}
