@import url('https://fonts.googleapis.com/css?family=Mitr:200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Prompt:100,200,300,400,500,600,700,800');


$font-family-mitr:   'Mitr', sans-serif !default;
$font-family-prompt:   'Prompt', sans-serif !default;